/* fonts */

body {
	font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
	color: #FFF;
	background-color: #4484CE;
}

h1 {
	font-family: 'Segoe UI';
	font-size: 80px;
	font-weight: 900;
	text-align: center;
}

h2 {
	font-family: 'Lucida Grande';
	font-size: 21px;
	font-weight: 400;
	text-align: center;
	color: #FFF;
}


/* grid */

.container {
	display: grid;
	grid-template-columns: repeat(10, 100fr);

}






/* 
.container {
	display: grid;
/*	grid-template-columns: repeat(100px, 10fr);
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 400px repeat(10, 50px 100px 100px);
	grid-gap: 0px;
}


/* title 

.title {
	grid-column: 1 / -1;
	grid-row: 1 / 1;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
	display: grid;
	text-align: center;
}

/* row-aj 

.rowaj-caption {
	text-align: center;
	grid-column: 4 / 7;
	grid-row: 2 / 2;
}

.rowaj-content {
	grid-column: 1 / -1;
	grid-row: 3 / 3;
	display: none;
}

.rowaj-content li:nth-child(1) {
	grid-column: 1 / 1;
	color: yellow
}

.rowaj-content li:nth-child(2) {
	grid-column: 2 / 2;
	color: green;
}

.rowaj-content li:nth-child(3) {
	grid-column: 3 / 3;
	color: orange;
}

.rowaj-content li::first-letter {
  font-weight: bold;
  color: red;
  display: relative;
}

.letters-caption {
	text-align: center;
	grid-column: 4 / 7;
	grid-row: 4 / 4;
}

.letters-grid {
	background: white;
	font-size: 3em;
	grid-row: 5 / 5;
	color: grey;
	align-items: center;
}

.letters-grid li:nth-child(1) {
	grid-column: 1 / 1;
}

.letters-grid li:nth-child(2) {
	grid-column: 2 / 2;
	margin: auto;
	justify-self: center;
	align-self: center;
	justify-items: center;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.letters-grid li:nth-child(3) {
	grid-column: 3 / 3;
}

.letters-grid li:nth-child(4) {
	grid-column: 4 / 4;
}

.letters-grid li:nth-child(5) {
	grid-column: 5 / 5;
}

.letters-grid li:nth-child(6) {
	grid-column: 6 / 6;
}

.letters-grid li:nth-child(7) {
	grid-column: 7 / 7;
}

.letters-grid li:nth-child(8) {
	grid-column: 8 / 8;
}

.letters-grid li:nth-child(9) {
	grid-column: 9 / 9;
}

.letters-grid li:nth-child(10) {
	grid-column: 10 / 10;
}

.letters-grid {
	grid-column: 1 / -1;
	grid-row: 6 / 6;
}
*/
