/* fonts */



body {
/*	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
*/	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
	font-weight: 100;
	color: #FFF;
	background-color: #4484CE;
}

.header {
	grid-column: 1, -1;
}

h1 {
	font-size: 80px;
	font-weight: 900;
	text-align: center;
	line-height: 0px;
}

h2 {
	font-size: 21px;
	font-weight: 700;
	text-align: center;
	color: #FFF;
}

h3 {
	font-size: 21px;
	font-weight: 700;
	text-align: center;
	color: #FFF;
	display: inline;
	padding-right: 10px;
}

h4 {
	font-weight: 100;
	font-size: 18px;
	text-align: center;
	display: inline;
}

h6 {
	text-align: center;
	font-weight: 100;
	font-size: 1em;
	opacity: .5;
}

svg {
  border: 5px solid currentColor;
}

/* grid */

.container {
	display: grid;
	grid-template-columns: repeat(1, 100fr);
	grid-template-rows: 20px auto auto 50px;
}

#maincontent {
/*	align-items: center;
*/
	
}

/*funky angle stuff*/
/*.maincontent_container div:nth-child(4) {
	transform: rotate(.85deg);
}

.maincontent_container div:nth-child(6) {
-webkit-transform: perspective(600px) rotateX(10deg) rotateY(2deg) rotateZ(-1deg) translate3d(30px, 30px, 20px);
-moz-transform: perspective(600px) rotateX(10deg) rotateY(2deg) rotateZ(-1deg) translate3d(30px, 30px, 20px);
-o-transform: perspective(600px) rotateX(10deg) rotateY(2deg) rotateZ(-1deg) translate3d(30px, 30px, 20px);
-ms-transform: perspective(600px) rotateX(10deg) rotateY(2deg) rotateZ(-1deg) translate3d(30px, 30px, 20px);
transform: perspective(600px) rotateX(10deg) rotateY(2deg) rotateZ(-1deg) translate3d(30px, 30px, 20px);
}

.maincontent_container div:nth-child(8) {
	transform: rotate(1.2deg);
}

.maincontent_container div:nth-child(10) {
	transform: rotate(-.6deg);*/
}

.maincontent_container {
	display: grid;
	grid-template-columns: 100px 1fr 100px;
}

.caption_row {
	display: grid;
	grid-template-columns: 1fr 460px 1fr;
	margin-top: 2em;
	margin-bottom: .5em;
	text-align: left;
}

.caption_row .strip_intro {
	grid-column: 2 / 3; 
}

.ten_grid {
	display: grid;
/*	grid-template-columns: repeat(auto-fit, minmax(60px, 80px));   */
	grid-template-columns: repeat(5, 80px);
	grid-column: 2 / 3;
	grid-row-gap: 20px; 
	grid-column-gap: 10px;
	background-color: white;
	list-style-type:none;
	text-align: center;
	font-weight: 500;
	padding: 10px 10px 10px 10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 3px 3px rgba(0,0,0,0.15);
}

.uz_grid {
	display: grid;
/*	grid-template-columns: repeat(auto-fit, minmax(60px, 80px));   */
	grid-template-columns: repeat(5, 80px);
	grid-column: 2 / 3;
	grid-row-gap: 20px; 
	grid-column-gap: 10px;
	background-color: white;
	list-style-type:none;
	text-align: center;
	font-weight: 500;
	padding: 10px 10px 10px 10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 3px 3px rgba(0,0,0,0.15);
}

.motley_grid {
	display: grid;
/*	grid-template-columns: repeat(auto-fit, minmax(60px, 80px));   */
	grid-template-columns: repeat(5, 80px);
	grid-column: 2 / 3;
	grid-row-gap: 20px; 
	grid-column-gap: 10px;
	text-align: center;
	font-weight: 500;
	padding: 10px 10px 10px 10px;
}

.uz_intro {
	grid-column: 2 / 3;
}

.uz_strip {
	grid-column: 2 / 3;
}

.strip {
	display: grid;
	grid-template-columns: 1fr 460px 1fr;
	background-color: none;
	margin: 0;
	padding: 0;
}

.ten_grid li {
	color: grey;
	padding-top: 5px;
	font-size: 40px;
}

.ten_grid li:hover {
	color: black;
	padding-top: 5px;
}

.uz_grid li {
	color: grey;
	padding-top: 5px;
	font-size: 40px;
}


.skip {
	display: inline;
}

@media (min-width: 1100px) {
	.ten_grid {
		grid-template-columns: repeat(10, 80px);
	}
	.strip {
		grid-template-columns: 1fr 912px 1fr;
	}
	.motley_grid {
		grid-template-columns: repeat(10, 80px);
		grid-template-rows: auto auto;
	}
	.motley_grid div:nth-child(1) {
		grid-column: 2 / 5;
		grid-row: 1 / 2;
	}
	.motley_grid div:nth-child(2) {
		grid-column: 1 / 6;
		grid-row: 2 / 3;
		color: orange;
		grid-row-gap: 20px; 
		grid-column-gap: 10px;
		background-color: yellow;
		list-style-type: none;
		font-weight: 500;
		padding: 10px 10px 10px 10px;
		box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 3px 3px rgba(0,0,0,0.15);
	}
	.motley_grid div:nth-child(3) {
		grid-column: 7 / 11;
		grid-row: 1 / 2;
	}
	.motley_grid div:nth-child(4) {
		grid-column: 7 / 10;
		grid-row: 2 / 3;
	}
	.motley_grid div:nth-child(5) {
		grid-column: 10 / 11;
		grid-row: 2 / 3;
		color: green;
		grid-row-gap: 20px; 
		grid-column-gap: 10px;
		background-color: tan;
		list-style-type: none;
		font-weight: 500;
		padding: 10px 10px 10px 10px;
		box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 3px 3px rgba(0,0,0,0.15);
	}
	.uz_grid {
		grid-template-columns: repeat(5, 80px);
	}

}




/* 
.container {
	display: grid;
/*	grid-template-columns: repeat(100px, 10fr);
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 400px repeat(10, 50px 100px 100px);
	grid-gap: 0px;
}


/* title 

.title {
	grid-column: 1 / -1;
	grid-row: 1 / 1;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
	display: grid;
	text-align: center;
}

/* row-aj 

.rowaj-caption {
	text-align: center;
	grid-column: 4 / 7;
	grid-row: 2 / 2;
}

.rowaj-content {
	grid-column: 1 / -1;
	grid-row: 3 / 3;
	display: none;
}

.rowaj-content li:nth-child(1) {
	grid-column: 1 / 1;
	color: yellow
}

.rowaj-content li:nth-child(2) {
	grid-column: 2 / 2;
	color: green;
}

.rowaj-content li:nth-child(3) {
	grid-column: 3 / 3;
	color: orange;
}

.rowaj-content li::first-letter {
  font-weight: bold;
  color: red;
  display: relative;
}

.letters-caption {
	text-align: center;
	grid-column: 4 / 7;
	grid-row: 4 / 4;
}

.letters-grid {
	background: white;
	font-size: 3em;
	grid-row: 5 / 5;
	color: grey;
	align-items: center;
}

.letters-grid li:nth-child(1) {
	grid-column: 1 / 1;
}

.letters-grid li:nth-child(2) {
	grid-column: 2 / 2;
	margin: auto;
	justify-self: center;
	align-self: center;
	justify-items: center;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.letters-grid li:nth-child(3) {
	grid-column: 3 / 3;
}

.letters-grid li:nth-child(4) {
	grid-column: 4 / 4;
}

.letters-grid li:nth-child(5) {
	grid-column: 5 / 5;
}

.letters-grid li:nth-child(6) {
	grid-column: 6 / 6;
}

.letters-grid li:nth-child(7) {
	grid-column: 7 / 7;
}

.letters-grid li:nth-child(8) {
	grid-column: 8 / 8;
}

.letters-grid li:nth-child(9) {
	grid-column: 9 / 9;
}

.letters-grid li:nth-child(10) {
	grid-column: 10 / 10;
}

.letters-grid {
	grid-column: 1 / -1;
	grid-row: 6 / 6;
}
*/
