/* fonts */

/* smallest breakpoint */

/*


  /$$$$$$        /$$      /$$        /$$$$$$        /$$             /$$      
 /$$__  $$      | $$$    /$$$       /$$__  $$      | $$            | $$      
| $$  \__/      | $$$$  /$$$$      | $$  \ $$      | $$            | $$      
|  $$$$$$       | $$ $$/$$ $$      | $$$$$$$$      | $$            | $$      
 \____  $$      | $$  $$$| $$      | $$__  $$      | $$            | $$      
 /$$  \ $$      | $$\  $ | $$      | $$  | $$      | $$            | $$      
|  $$$$$$/      | $$ \/  | $$      | $$  | $$      | $$$$$$$$      | $$$$$$$$
 \______/       |__/     |__/      |__/  |__/      |________/      |________/
                                                                             
                                                                             
                                                                             

             */      


main {
	padding: 0 1em;
}

a {
	color: white;
	border-bottom: 2px solid white;
	text-decoration: none;
	transition: border-bottom .25s;
    transition: padding-bottom .25s;
}

a:hover {
	color: pink;
	padding-bottom: 2px;
	border-bottom: 3px solid pink;
    transition: border-bottom .15s;
    transition: padding-bottom .15s;
}

body {
	font-family: "Segoe UI", "Avenir", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
	font-weight: 100;
	color: #FFF;
/*	background-color: #4484CE;
*/	
/*background-color: hsl(212, 58%, 54%);*/
	background-color: hsl(212, 58%, 50%);
	text-align: center;
	padding-top: 10px;
}


h1 {
	font-size: 24px;
	font-weight: 900;
	text-align: center;
	line-height: 0px;
}

h2 {
	font-size: 36px;
	font-weight: 900;
	text-align: center;
	line-height: 40px;
	margin-top: 2em;
}

h3 {
	font-size: 21px;
	font-weight: 700;
	text-align: center;
	color: #FFF;
}

h4 {
	font-weight: 300;
	font-size: 19px;
	text-align: center;
	display: inline;
}

h5 {
	font-weight: 500;
	font-size: 19px;
	text-align: center;
	display: inline;
}

h6 {
	font-size: 15px;
	font-weight: 700;
	text-align: center;
	color: #FFF;
	opacity: .6;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;

}

p {
	font-weight: 300;
	font-size: 19px;
	text-align: left;
	margin: 2em auto 1em auto;
}

.content_grid p {
	font-weight: 300;
	font-size: 19px;
	text-align: left;
/*	margin: 1em auto 2em auto;
*/}


.content_selector {
margin: 0 4em;
}

.explainer_box {
	margin: 2em auto;
	text-align: left;
	width: 90%;
}

select {
   background: transparent;
   	font-family: "Segoe UI", "Avenir", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
   color: white;
   border: none;
   	font-weight: 500;
	text-align: center;
   font-size: 19px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
   margin-bottom: 20px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   background-color: #0365bc;
   width:165px;   
}




/*svg {
  border: 5px solid currentColor;
}*/

/* grid */

ul {
	border-radius: 5px;
	background-color: white;
	list-style-type:none;
	text-align: center;
	font-weight: 500;
	padding: 10px 10px 10px 10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 3px 3px rgba(0,0,0,0.15);
	display: grid;
	grid-row-gap: 30px; 
	grid-column-gap: 10px;
	margin: 10px auto;
}
.content {
}

.contractions {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 0 auto;
	/*line-height: 1em;*/
}

.contractions li {
}

.contractions li div:nth-child(2) {
	font-size: 50%;
	opacity: .8;
	letter-spacing: .15em;
	padding-top: .2em;
	margin: 4px 0;
/*	color: red;
*/}

.content_grid {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: repeat(6, auto);
	grid-auto-flow: column; 
	margin: 2em auto;
	width: 468px;
}

.uz div:nth-child(1) {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	padding: 0 3em;
}

.uz div:nth-child(5) {
	grid-column: 1 / 2;
	grid-row: 4 / 5;
	padding: 0 3em;
}

.uz div:nth-child(4) {
	grid-column: 1 / 2;
	grid-row: 6 / 7;
	padding: 0 3em;
}

.flex {
}

.rows2 {
	grid-template-rows: repeat(2, auto);
}

.rows3 {
	grid-template-rows: repeat(3, auto);
}

.rows4 {
	grid-template-rows: repeat(3, auto);
}


.ten {
	grid-template-columns: repeat(5, 58px);
	grid-template-rows: repeat(2, auto);
	width: 330px;
}

.nine {
	grid-template-columns: repeat(5, 58px);
	grid-template-rows: repeat(2, auto);
	width: 330px;

}

.eight {
	grid-template-columns: repeat(4, 58px);
	grid-template-rows: repeat(2, auto);
	width: 260px;
}

.seven {
	grid-template-columns: repeat(4, 58px);
	grid-template-rows: repeat(2, auto);
	width: 260px;
}

.six {
	grid-template-columns: repeat(3, 58px);
	grid-template-rows: repeat(2, auto);
	width: 195px;
}

.five {
	grid-template-columns: repeat(5, 58px);
	width: 330px;
}

.four {
	grid-template-columns: repeat(5, 58px);
	width: 260px;
}

.three {
	grid-template-columns: repeat(5, 58px);
	width: 195px;
}

.two {
	grid-template-columns: repeat(5, 58px);
	width: 125px;
}

.one {
	grid-template-columns: repeat(5, 58px);
	width: 55px;
}

.mobile8 {
	grid-template-columns: repeat(4, 58px);
	width: 260px;
}

.mobile10 {
	grid-template-columns: repeat(5, 58px);
	width: 330px;
}

.span1x {
	grid-column-start: 1;
}

.spanx1 {
	grid-column-end: 1;
}

.span2x {
	grid-column-start: 2;
}

.spanx2 {
	grid-column-end: 2;
}

.span3x {
	grid-column-start: 3;
}

.spanx3 {
	grid-column-end: 3;
}

.span4x {
	grid-column-start: 4;
}

.spanx4 {
	grid-column-end: 4;
}

.span5x {
	grid-column-start: 5;
}

.spanx5 {
	grid-column-end: 5;
}

.span6x {
	grid-column-start: 1;
}

.spanx6 {
	grid-column-end: 1;
}

.span7x {
	grid-column-start: 2;
}

.spanx7 {
	grid-column-end: 2;
}

.span8x {
	grid-column-start: 3;
}

.spanx8 {
	grid-column-end: 3;
}

.span9x {
	grid-column-start: 4;
}

.spanx9 {
	grid-column-end: 4;
}


.spanx0 {
	grid-column-end: -1;
}

.content_section {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: auto;
}

.content_flexstrip {
/*	margin: 0px auto;
	display: flex;*/
}

.mobile_center {
	grid-column: 1 / -1;
}

.mobile_left {
	grid-column: 1 / 3;
}

.mobile_right {
	grid-column: 3 / -1;
}

.string {
	background-color: red;
}

.content_strip {

}

.content_strip div:nth-child(1) {
	grid-column: 1 / -1;
	grid-row: 1 / 2;
}

.content_strip div:nth-child(2) {
	grid-column: 1 / -1;
	grid-row: 2 / 3;
}

.content_strip div:nth-child(3) {
	grid-column: 1 / -1;
	grid-row: 3 / 4 ;
}

.content_strip div:nth-child(4) {
	grid-column: 1 / -1;
	grid-row: 4 / 5;
}

.content_strip div:nth-child(5) {
	grid-column: 1 / -1;
	grid-row: 5 / 6;
}

.content_strip div:nth-child(6) {
	grid-column: 1 / -1;
	grid-row: 6 / 7;
}

.content_strip div:nth-child(7) {
	grid-column: 1 / -1;
	grid-row: 7 / 8;
}

.content_strip div:nth-child(8) {
	grid-column: 1 / -1;
	grid-row: 8 / 9;
	padding-right: 65px;
	text-align: right;
}

.content_strip div:nth-child(9) {
	grid-column: 5 / 6;
	grid-row: 8 / 9;
}

.content_strip div:nth-child(8) h4 {
	position: relative;
	top:20px;
}



.six_grid {
	display: grid;
	grid-template-columns: repeat(3, 38px);
	grid-column: 2 / 3;
	grid-row-gap: 30px; 
	grid-column-gap: 10px;
	list-style-type:none;
	text-align: center;
	font-weight: 500;
	padding: 10px 10px 10px 10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 3px 3px rgba(0,0,0,0.15);
	background-color: white;
	transition: grid-template-columns 2s;
}

.plum {
	border-top: 7px solid plum;
}

.salmon {
	border-top: 7px solid salmon;
}

.gold {
	border-top: 7px solid gold;
}

.green {
	border-top: 7px solid #98f79f;
}

.uz_grid {
	display: grid;
	grid-template-columns: repeat(5, 38px);
	grid-row-gap: 10px; 
	grid-column-gap: 10px;
	list-style-type:none;
	text-align: center;
	font-weight: 500;
	padding: 10px 10px 10px 10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 3px 3px rgba(0,0,0,0.15);
	background-color: white;
}

.number_example {
	border-top: 7px solid teal;
	display: grid;
	grid-template-columns: repeat(5, 38px);
	grid-row-gap: 10px; 
	grid-column-gap: 10px;
	list-style-type:none;
	text-align: center;
	font-weight: 500;
	padding: 10px 10px 10px 10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 3px 3px rgba(0,0,0,0.15);
	background-color: white;
}


.w_grid {

	list-style-type:none;
	padding: 5px 5px 5px 5px;
	display: grid;
	grid-template-columns: repeat(1, 38px);
		background-color: white;
}

.any_grid {
	border-top: 7px solid gold;
	list-style-type:none;
	padding: 5px 5px 5px 5px;
	display: grid;
	grid-template-columns: repeat(1, 38px);
		background-color: white;
}



li {
	color: grey;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 35px;
	text-align: center;
}


li img {
	height: 25px;
}



li:hover {
	border-radius: 6px;
	color: white;
	margin: -5px;
	background-color: hsl(212, 100%, 20%);
	transition:all 0.2s ease;
}

img {
	border: 1px #E5E5E5 solid;
	border-radius: 2px;
	padding: 4px;

}

li:hover img {
	border: 1px grey solid;
	fill: white;
}

li:hover img {
  filter: invert(1) sepia(1) brightness(1) contrast(300%);
;
}



img #con_afw #Oval-Copy {
	fill: red;
}



/*img .braille {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}
*/

img {
	/*width: 60%;*/
}

@media (min-width: 550px) { /*------------------------------------*/

/*


 /$$      /$$     /$$$$$$$$     /$$$$$$$      /$$$$$$     /$$   /$$     /$$      /$$
| $$$    /$$$    | $$_____/    | $$__  $$    |_  $$_/    | $$  | $$    | $$$    /$$$
| $$$$  /$$$$    | $$          | $$  \ $$      | $$      | $$  | $$    | $$$$  /$$$$
| $$ $$/$$ $$    | $$$$$       | $$  | $$      | $$      | $$  | $$    | $$ $$/$$ $$
| $$  $$$| $$    | $$__/       | $$  | $$      | $$      | $$  | $$    | $$  $$$| $$
| $$\  $ | $$    | $$          | $$  | $$      | $$      | $$  | $$    | $$\  $ | $$
| $$ \/  | $$    | $$$$$$$$    | $$$$$$$/     /$$$$$$    |  $$$$$$/    | $$ \/  | $$
|__/     |__/    |________/    |_______/     |______/     \______/     |__/     |__/
                                                                                              
                                                                                              
*/                                                                                              



main {
	width: 600px;
	margin: 0 auto;
}

.explainer_box {
	margin: 2em auto;
	padding-left: 1em;
	padding-bottom: 2em;
	border-left: 2px dashed white;
	text-align: left;
	width: 600px;
}

p {
	padding-left: 1em;
	border-left: 2px dashed white;
	width: 600px;
}

.content_container_new p {
	padding-left: 0;
	border-left: none;
	text-align: center;
	width: 600px;
}

.content_grid p {
	display: inline;
	padding-left: 0;
	margin: 0;
	border-left: none;
	text-align: center;
	width: 600px;
}



.strip_intro {
	padding-left: 0;
	border-left: none;
	text-align: center;
	width: 600px;
}

body {
	padding-top: 10px;
}

h1 {
	font-size: 40px;
}

h6 {
	font-size: 20px;
}


.ten {
	grid-template-columns: repeat(5, 80px);
	grid-template-rows: repeat(2, auto);
	width: 444px;
}

.nine {
	grid-template-columns: repeat(5, 80px);
	grid-template-rows: repeat(2, auto);
	width: 444px;
}

.eight {
	grid-template-columns: repeat(4, 80px);
	grid-template-rows: repeat(2, auto);
	width: 354px;
}

.seven {
	grid-template-columns: repeat(4, 80px);
	grid-template-rows: repeat(2, auto);
	width: 354px;
}

.six {
	grid-template-columns: repeat(3, 80px);
	grid-template-rows: repeat(2, auto);
	width: 309px;
}

.five {
	grid-template-columns: repeat(5, 80px);
	grid-template-rows: repeat(1, auto);
	width: 444px;
}

.four {
	grid-template-columns: repeat(5, 80px);
	width: 354px;
}

.three {
	grid-template-columns: repeat(5, 80px);
	width: 264px;
}

.two {
	grid-template-columns: repeat(5, 80px);
	width: 174px;
}

.one {
	grid-template-columns: repeat(5, 80px);
	width: 84px;
}

.mobile10 {
	grid-template-columns: repeat(5, 80px);
	width: 444px;
}


.content_selector {
margin: 0 0;
}




h4 {
	}


	.ten_grid {
		display: grid;
		grid-template-columns: repeat(5, 80px);
	}

	.six_grid {
		display: grid;
		grid-template-columns: repeat(3, 80px);
	}

	.uz_grid {
	display: grid;
	grid-template-columns: repeat(5, 80px);
	}

	.content_strip {
/*		display: grid;
		grid-template-columns: repeat(5, 30px);
*/	}

	.content_strip {
/*		display: grid;
		grid-template-columns: repeat(5, 80px);
*/	}

	.content_strip div:nth-child(8) {
/*	padding-right: 105px;
*/	}

	.w_grid {
		display: grid;
		grid-template-columns: repeat(1, 80px);
		grid-row-gap: 20px; 
		grid-column-gap: 10px;
		color: grey;
		list-style-type:none;
		text-align: center;
		font-weight: 500;
		padding: 10px 15px 10px 8px;
		box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 3px 3px rgba(0,0,0,0.15);
		background-color: white;
}

.content_strip div:nth-child(8) h4 {
	position: relative;
	top:60px;

	li {
	font-size: 40px;
	}

	li:hover {
		color: red;
	}

	img {width: 50%;
	}

}








@media (min-width: 1100px) {  /* - - - - - - - - - - - - - - - - - - */

                                                         




/*  


 /$$$$$$$        /$$$$$$        /$$$$$$ 
| $$__  $$      |_  $$_/       /$$__  $$
| $$  \ $$        | $$        | $$  \__/
| $$$$$$$         | $$        | $$ /$$$$
| $$__  $$        | $$        | $$|_  $$
| $$  \ $$        | $$        | $$  \ $$
| $$$$$$$/       /$$$$$$      |  $$$$$$/
|_______/       |______/       \______/ 
                                        
                                        
                                        
*/

main {
	width: 950px;
	margin: 0 auto;
}

.content_selector {
margin: 0 2em;
}

.contractions {
	grid-template-columns: 1fr 1fr 1fr;
}

.explainer_box {
	margin: 2em auto;
	text-align: left;
	width: 800px;
}

p {
	text-align: left;
	width: 800px;
}

.content_container_new p {
	padding-left: 0;
	border-left: none;
	text-align: center;
	width: 800px;
}

.content_grid p {
	padding-left: 0;
	border-left: none;
	text-align: center;
}

.strip_intro {
	padding-left: 0;
	border-left: none;
	text-align: center;
	width: 800px;
}

	h1 {
		font-size: 55px;
	}

	.content_strip {
/*		margin: auto auto;
		display: grid;
		width: 801px;
		grid-template-columns: repeat(10, 80px);
*//*		background-color: red;
*/	}

.content_grid {
	display: grid;
	grid-template-columns: auto 200px auto;
	grid-template-rows: repeat(2, auto);
	grid-auto-flow: column; 
	margin: 2em auto;
	width: 911px;
}

.uz div:nth-child(1) {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.uz div:nth-child(4) {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	margin: 0 auto;
	padding: 1em;
}

.uz div:nth-child(5) {
	grid-column: 2 / 4;
	grid-row: 1 / 2;
	padding: 0;
}

.uz div:nth-child(6) {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}



.ten {
	grid-template-columns: repeat(10, 80px);
	grid-template-rows: repeat(1, auto);
	width: 890px;
}

.nine {
	grid-template-columns: repeat(10, 80px);
	grid-template-rows: repeat(1, auto);
	width: 805px;
}

.eight {
	grid-template-columns: repeat(8, 80px);
	grid-template-rows: repeat(1, auto);
	width: 720px;
}

.seven {
	grid-template-columns: repeat(8, 80px);
	grid-template-rows: repeat(1, auto);
	width: 627px;
}

.six {
	grid-template-columns: repeat(6, 80px);
	grid-template-rows: repeat(1, auto);	
	width: 535px;
}

.five {
	grid-template-columns: repeat(5, 80px);
	grid-template-rows: repeat(1, auto);
	width: 444px;
}

.four {
	grid-template-columns: repeat(5, 80px);
	width: 350px;
}

.three {
	grid-template-columns: repeat(5, 80px);
	width: 264px;
}

.two {
	grid-template-columns: repeat(5, 80px);
	width: 174px;
}

.one {
	grid-template-columns: repeat(5, 80px);
	width: 84px;
}


.span1x {
	grid-column-start: 1;
}

.spanx1 {
	grid-column-end: 1;
}

.span2x {
	grid-column-start: 2;
}

.spanx2 {
	grid-column-end: 2;
}

.span3x {
	grid-column-start: 3;
}

.spanx3 {
	grid-column-end: 3;
}

.span4x {
	grid-column-start: 4;
}

.spanx4 {
	grid-column-end: 4;
}

.span5x {
	grid-column-start: 5;
}

.spanx5 {
	grid-column-end: 5;
}

.span6x {
	grid-column-start: 6;
}

.spanx6 {
	grid-column-end: 6;
}

.span7x {
	grid-column-start: 7;
}

.spanx7 {
	grid-column-end: 7;
}

.span8x {
	grid-column-start: 8;
}

.spanx8 {
	grid-column-end: 8;
}

.span9x {
	grid-column-start: 9;
}

.spanx9 {
	grid-column-end: 9;
}


.spanx0 {
	grid-column-end: -1;
}





	.uz_grid {
	grid-template-columns: repeat(5, 80px);
	}

	.number_example {
	grid-template-columns: repeat(5, 80px);
	}

	.content_strip div:nth-child(1) {
	grid-column: 1 / 11;
	grid-row: 1 / 2;
	}

	.content_strip div:nth-child(2) {
		grid-column: 1 / 11;
		grid-row: 2 / 3;
	/*		background-color: orange;
	*/
	}

	.content_strip div:nth-child(3) {
		grid-column: 1 / 11;
		grid-row: 3 / 4 ;
	/*		background-color: yellow;
	*/
	}

	.content_strip div:nth-child(4) {
		grid-column: 1 / 11;
		grid-row: 4 / 5;
	/*		background-color: green;
	*/
	}

	.content_strip div:nth-child(5) {
		grid-column: 1 / 6;
		grid-row: 5 / 6;
	/*		background-color: blue;
	*/
	}

	.content_strip div:nth-child(6) {
		grid-column: 1 / 6;
		grid-row: 6 / 7;
	/*		background-color: purple;
	*/
	}

	.content_strip div:nth-child(7) {
		grid-column: 7 / 11;
		grid-row: 5 / 6;
	/*		background-color: red;
	*/
	}

	.content_strip div:nth-child(8) {
		grid-column: 7 / 11;
		grid-row: 6 / 7;
		padding-right: 108px;
			text-align: right;

	/*		background-color: orange;
	*/
	}

	.content_strip div:nth-child(9) {
		grid-column: 10 / 11;
		grid-row: 6 / 7;
	}

	.content_strip div:nth-child(8) h4 {
	position: relative;
	top:50px;

/*	img {width: 300%;
	}*/


}



@media (min-width: 2200px) {  /* - - - - - - - - - - - - - - - - - - */


body
{
background-color: white;

}

#maincontent {
}

/*#maincontent:nth-child(2) {
	grid-column: 2 / 3;
	background-color: red;
}
*/

.poster {
	display: inline-grid;
	grid-template-columns: 1fr 1fr;
}

.poster_col_1 {	
	grid-column: 1 / 2;
	background-color: red;
}

.poster_col_2 {	
	grid-column: 2 / 3;
	background-color: blue;
}


body p,h1,h2,h3,h4,h5,h6,select {
	display: none;
}

ul,li {
	background-color: white;
	box-shadow: none;
}


.plum {
	border-top: 7px solid white;
}

.salmon {
	border-top: 7px solid white;
}

.gold {
	border-top: 7px solid white;
}

.green {
	border-top: 7px solid white;
}

/*body:nth-child(1) {
	grid-column: 1 / 2
}*/

body:nth-child(2) {
	grid-column: 3 / 4
}
