/* fonts */



body {
	font-family: "Segoe UI", "Avenir", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
	font-weight: 100;
	color: #FFF;
/*	background-color: #4484CE;
*/	background-color: hsl(212, 58%, 54%);
	text-align: center;
	padding-top: 10px;
}

h1 {
	font-size: 24px;
	font-weight: 900;
	text-align: center;
	line-height: 0px;
	    transition        : font-size .15s;
}

h2 {
	font-size: 15px;
	font-weight: 700;
	text-align: center;
	color: #FFF;
	opacity: .6;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
		    transition        : font-size .15s;

}

h3 {
	font-size: 21px;
	font-weight: 700;
	text-align: center;
	color: #FFF;
	display: inline;
	padding-right: 10px;
		    transition        : font-size .15s;

}

h4 {
	font-weight: 100;
	font-size: 15px;
	text-align: center;
	display: inline;
		    transition        : font-size .15s;

}

/*svg {
  border: 5px solid currentColor;
}*/

/* grid */

#maincontent {
/*	align-items: center;
*/
	
}

.biz {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: auto;
}

.shiz {
	display: grid;
	grid-template-columns: repeat(5, 50px);
	grid-template-rows: repeat(1, auto);
/*	background-color: grey;
*/}

.shiz div:nth-child(1) {
	grid-column: 1 / -1;
	grid-row: 1 / 2;
/*		background-color: red;
*/
}

.shiz div:nth-child(2) {
	grid-column: 1 / -1;
	grid-row: 2 / 3;
/*		background-color: orange;
*/
}

.shiz div:nth-child(3) {
	grid-column: 1 / -1;
	grid-row: 3 / 4 ;
/*		background-color: yellow;
*/
}

.shiz div:nth-child(4) {
	grid-column: 1 / -1;
	grid-row: 4 / 5;
/*		background-color: green;
*/
}

.shiz div:nth-child(5) {
	grid-column: 1 / -1;
	grid-row: 5 / 6;
/*		background-color: blue;
*/
}

.shiz div:nth-child(6) {
	grid-column: 1 / -1;
	grid-row: 6 / 7;
/*		background-color: purple;
*/
}

.shiz div:nth-child(7) {
	grid-column: 1 / -1;
	grid-row: 7 / 8;
/*		background-color: red;
*/
}

.shiz div:nth-child(8) {
	grid-column: 1 / -1;
	grid-row: 8 / 9;
	padding-right: 65px;
		text-align: right;

/*		background-color: orange;
*/
}

.shiz div:nth-child(9) {
	grid-column: 5 / 6;
	grid-row: 8 / 9;

}

.shiz div:nth-child(8) h4 {
	position: relative;
	top:20px;
}

.ten_grid {
	border-top: 7px solid plum; 
	display: grid;
	grid-template-columns: repeat(5, 38px);
	grid-column: 2 / 3;
	grid-row-gap: 30px; 
	grid-column-gap: 10px;
	list-style-type:none;
	text-align: center;
	font-weight: 500;
	padding: 10px 10px 10px 10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 3px 3px rgba(0,0,0,0.15);
	background-color: white;
	border-radius: 5px;

			    transition        : grid-template-columns 2s;

}

.eleven_grid {
	border-top: 7px solid palegreen; 
	display: grid;
	grid-template-columns: repeat(5, 38px);
	grid-column: 2 / 3;
	grid-row-gap: 30px; 
	grid-column-gap: 10px;
	list-style-type:none;
	text-align: center;
	font-weight: 500;
	padding: 10px 10px 10px 10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 3px 3px rgba(0,0,0,0.15);
	background-color: white;
	border-radius: 5px;
}

.uz_grid {
	border-top: 7px solid salmon;
	display: grid;
	grid-template-columns: repeat(5, 38px);
	grid-row-gap: 10px; 
	grid-column-gap: 10px;
	list-style-type:none;
	text-align: center;
	font-weight: 500;
	padding: 10px 10px 10px 10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 3px 3px rgba(0,0,0,0.15);
		background-color: white;
		border-radius: 5px;

}

.w_grid {
	border-top: 7px solid gold;
	list-style-type:none;
	padding: 5px 5px 5px 5px;
	display: grid;
	grid-template-columns: repeat(1, 38px);
		background-color: white;
		border-radius: 5px;
}


li {
	color: grey;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 35px;
}

li:hover {
	  border-radius: 6px;
	  color: white;
	margin: -5px;
background-color: hsl(212, 100%, 20%);
	  transition:all 0.2s ease;
}

/*img .braille {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}
*/

img {width: 60%;
}

@media (min-width: 550px) { /*------------------------------------*/

body {
	padding-top: 10px;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 20px;
}

h4 {
	font-weight: 100;
	font-size: 16px;
	}


	.ten_grid {
		display: grid;
		grid-template-columns: repeat(5, 80px);
	}

	.eleven_grid {
		display: grid;
		grid-template-columns: repeat(5, 80px);
	}

	.uz_grid {
	display: grid;
	grid-template-columns: repeat(5, 80px);
	}

	.shiz {
		display: grid;
		grid-template-columns: repeat(5, 30px);
	}

	.shiz {
		display: grid;
		grid-template-columns: repeat(5, 91px);
	}

	.shiz div:nth-child(8) {
	padding-right: 105px;
	}

	.w_grid {
		display: grid;
		grid-template-columns: repeat(1, 80px);
		grid-row-gap: 20px; 
		grid-column-gap: 10px;
		color: grey;
		list-style-type:none;
		text-align: center;
		font-weight: 500;
		padding: 10px 15px 10px 8px;
		box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 3px 3px rgba(0,0,0,0.15);
		background-color: white;
}

.shiz div:nth-child(8) h4 {
	position: relative;
	top:60px;

	li {
	font-size: 40px;
	}

	li:hover {
		color: red;
	}

	img {width: 50%;
	}

}

@media (min-width: 1100px) {  /* - - - - - - - - - - - - - - - - - - */

	h1 {
		font-size: 55px;
	}

	.shiz {
		grid-template-columns: repeat(10, 91px);
	}

	.ten_grid {
		grid-template-columns: repeat(10, 80px);
	}

	.eleven_grid {
		grid-template-columns: repeat(10, 80px);
	}

	.uz_grid {
	grid-template-columns: repeat(5, 80px);
	}

	.shiz div:nth-child(1) {
	grid-column: 1 / 11;
	grid-row: 1 / 2;
	}

	.shiz div:nth-child(2) {
		grid-column: 1 / 11;
		grid-row: 2 / 3;
	/*		background-color: orange;
	*/
	}

	.shiz div:nth-child(3) {
		grid-column: 1 / 11;
		grid-row: 3 / 4 ;
	/*		background-color: yellow;
	*/
	}

	.shiz div:nth-child(4) {
		grid-column: 1 / 11;
		grid-row: 4 / 5;
	/*		background-color: green;
	*/
	}

	.shiz div:nth-child(5) {
		grid-column: 1 / 6;
		grid-row: 5 / 6;
	/*		background-color: blue;
	*/
	}

	.shiz div:nth-child(6) {
		grid-column: 1 / 6;
		grid-row: 6 / 7;
	/*		background-color: purple;
	*/
	}

	.shiz div:nth-child(7) {
		grid-column: 7 / 11;
		grid-row: 5 / 6;
	/*		background-color: red;
	*/
	}

	.shiz div:nth-child(8) {
		grid-column: 7 / 11;
		grid-row: 6 / 7;
		padding-right: 108px;
			text-align: right;

	/*		background-color: orange;
	*/
	}

	.shiz div:nth-child(9) {
		grid-column: 10 / 11;
		grid-row: 6 / 7;
	}

	.shiz div:nth-child(8) h4 {
	position: relative;
	top:50px;

/*	img {width: 300%;
	}*/


}



